/* For the variable font */
@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
}

/* For the static font */
@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/static/HankenGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/static/HankenGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/static/HankenGrotesk-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

:root {
  /* COLOR */
  /* PRIMARY */
  --clr-red: 0 100% 67%;
  --clr-yellow: 39 100% 56%;
  --clr-green: 166 100% 37%;
  --clr-blue: 234 85% 45%;
  /* NEUTRAL */
  --clr-white: 0 0% 100%;
  --clr-pale-blue: 221 100% 96%;
  --clr-light-lavender: 241 100% 89%;
  --clr-gray-blue: 224 30% 27%;

  /* GRADIENT */
  /* BG */
  --clr-slate-blue: 252 100% 67%;
  --clr-royal-blue: 241 81% 54%;
  --grad-bg: linear-gradient(
    hsl(var(--clr-slate-blue)),
    hsl(var(--clr-royal-blue))
  );
  /* CIRCLE */
  --clr-violet-blue: 256 72% 46%;
  --clr-persian-blue: 241 72% 46%;
  --grad-circle: linear-gradient(
    hsl(var(--clr-violet-blue) / 100%),
    hsl(var(--clr-persian-blue) / 0%)
  );

  /* FONT FAMILY */
  --ff-hanken-grotesk: "Hanken Grotesk", sans-serif;

  /* FONT WEIGHT */
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--ff-hanken-grotesk);
  font-weight: var(--fw-medium);
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-gray-blue));
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  display: block;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: transparent;
  cursor: pointer;
  padding: 0;
}

/* UTILITIES */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* CARD */

main {
  max-width: 23.5rem;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}

/* RESULT SECTION */

section.result {
  background: var(--grad-bg);
  color: hsl(var(--clr-light-lavender));
  border-radius: 0 0 2rem 2rem;
  padding: 1.5rem 3.25rem 2.5rem;
  text-align: center;
}

.result__heading,
.summary__heading {
  font-weight: var(--fw-bold);
  font-size: 1.125rem;
}

.gradient-circle {
  width: 8.75rem;
  height: 8.75rem;
  margin: 1.56rem auto;
  background: var(--grad-circle);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.score {
  font-size: 1rem;
  color: hsl(var(--clr-light-lavender) / 50%);
}

.score strong {
  display: block;
  font-weight: var(--fw-extra-bold);
  font-size: 3.5rem;
  color: hsl(var(--clr-pale-blue));
}

.result__remark {
  font-weight: var(--fw-bold);
  font-size: 1.5rem;
  color: hsl(var(--clr-pale-blue));
}

.result__desc {
  font-size: 1rem;
  margin-top: 0.7rem;
}

/* SUMMARY SECTION */

.summary {
  padding: 1.5rem 1.875rem 1.875rem;
}

.summary__list {
  margin-block: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.summary__item {
  --_clr-item: var(--clr-item, var(--clr-gray-blue));

  padding: 1em;
  border-radius: 0.625rem;
  background: hsla(var(--_clr-item) / 5%);
  display: flex;
  gap: 0.75rem;
  font-size: 0.9375rem;
  color: hsl(var(--_clr-item));
}

.summary__item:nth-child(1) {
  --clr-item: var(--clr-red);
}

.summary__item:nth-child(2) {
  --clr-item: var(--clr-yellow);
}

.summary__item:nth-child(3) {
  --clr-item: var(--clr-green);
}

.summary__item:nth-child(4) {
  --clr-item: var(--clr-blue);
}

.summary__item-title {
  flex: 1;
}

.summary__item-score {
  font-weight: var(--fw-bold);
  color: hsl(var(--clr-gray-blue) / 50%);
}

.summary__item-score .highlight {
  color: hsl(var(--clr-gray-blue));
}

.btn-continue {
  width: 100%;
  background: hsl(var(--clr-gray-blue));
  color: hsl(var(--clr-pale-blue));
  font-weight: bold;
  padding: 1.0625rem;
  font-size: 1.125rem;
  border-radius: 5rem;
}

.btn-continue:is(:hover, :focus-visible) {
  background: var(--grad-bg);
}

@media (min-width: 48rem) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* CARD */

  main {
    max-width: 46rem;
    border-radius: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    grid-template-columns: repeat(2, 1fr);
  }

  /* RESULT SECTION */

  section.result {
    border-radius: 2rem;
    padding: 2.5rem 3.625rem 3.25rem;
  }

  .result__heading,
  .summary__heading {
    font-size: 1.4rem;
  }

  .gradient-circle {
    width: 12.5rem;
    height: 12.5rem;
    margin-block: 2rem 1.88rem;
  }

  .score strong {
    font-size: 4.2rem;
  }

  .result__remark {
    font-size: 1.9rem;
  }

  .result__desc {
    font-size: 1.1rem;
    margin-top: 1rem;
  }

  /* SUMMARY SECTION */

  .summary {
    padding: 2.5rem;
  }

  .summary__list {
    margin-block: 1.8rem 2.56rem;
  }

  .summary__item {
    font-size: 1.0625rem;
    padding: 1em;
  }
}
