/* For the variable font */
@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
}

/* For the static font */
@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/static/HankenGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/static/HankenGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/static/HankenGrotesk-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

:root {
  /* COLOR */
  /* PRIMARY */
  --clr-red: 0 100% 67%;
  --clr-yellow: 39 100% 56%;
  --clr-green: 166 100% 37%;
  --clr-blue: 234 85% 45%;
  /* NEUTRAL */
  --clr-white: 0 0% 100%;
  --clr-pale-blue: 221 100% 96%;
  --clr-light-lavender: 241 100% 89%;
  --clr-gray-blue: 224 30% 27%;

  /* GRADIENT */
  /* BG */
  --clr-slate-blue: 252 100% 67%;
  --clr-royal-blue: 241 81% 54%;
  --grad-bg: linear-gradient(
    hsl(var(--clr-slate-blue)),
    hsl(var(--clr-royal-blue))
  );
  /* CIRCLE */
  --clr-violet-blue: 256 72% 46%;
  --clr-persian-blue: 241 72% 46%;
  --grad-circle: linear-gradient(
    hsl(var(--clr-violet-blue) / 100%),
    hsl(var(--clr-persian-blue) / 0%)
  );

  /* FONT FAMILY */
  --ff-hanken-grotesk: "Hanken Grotesk", sans-serif;

  /* FONT WEIGHT */
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--ff-hanken-grotesk);
  font-weight: var(--fw-medium);
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-gray-blue));
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  display: block;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: transparent;
  cursor: pointer;
  padding: 0;
}

/* UTILITIES */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
